* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.php text eol=lf
*.js text eol=lf
*.blade.php text eol=lf
*.sh text eol=lf
*.log text eol=crlf


/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
