* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d7ccc8;
}
/* encabezado de la pagina*/
.headerbackground{
    background-color: #402910;
    width: 100%;
}
.header {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #402910;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.titulo1{
    font-size: 25px;
    color: gold;
    background-color: #402910;
}
.subtitulo1{
    color: #ffffff;
    background-color: #402910;
}
form{
    background-color: #402910;
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
}
input{
    padding: 11px;
    outline: none;
    width: 50%;
    background-color: white;
    border: none;
}
.B1 {
    background-color: white;
    color: #49271B;
    padding: 11px 20PX;
    margin: 5px;
    border: none;
    border-radius: 5px;
}
.B2 {
    background-color: white;
    color: #49271B;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
/* menu o cinta de desplazamiento */
.menuBackground{
    background-color: #654321;
    width: 100%;
}
nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.secciones {
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu {
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btn-menu {
    background-color: #654321;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
} 
.btn-menu:link,
.btn-menu:visited,
.btn-menu:focus,
.btn-menu:active{
    color: white;
    text-decoration: none;
}
.btn-menu:hover{
    background-color: #79512a;
    color: white;
    transition: 0s;
} 
/* slider */
.slider-frame {
	max-width: 1200px;
    height: 650px;
	overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
}
.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;

	animation: slide 20s infinite alternate ease-in-out;
}
.slider-frame li {
	width: 100%;
	list-style: none;
}
.slider-frame img {
	width: 100%;
}
@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
/*aqui las cajas de productos recomendados*/
.titulocompra {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    background-color: #8B5E3C;
    font-size: 30px;
    font-family: 'Segoe UI', sans-serif;
}
/* .productosBackground{
    background-color: #8B5E3C;
    width: 100%;
}*/
.productos {
    height: 25em;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 30px;
    background: #8B5E3C;
    border: none;
}
.caja {
    padding: 15px;
    text-align: center;
    color: #441c1c;
    border-radius: 15px;
    background-color: #C0A090;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.caja:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
}
.caja button {
    background-color: wheat;
    border: none;
    border-radius: 5%;
    padding: 10px 10px;
}
.caja img {
    background: none;
}
.caja h1 {
    background: none;
}
.caja p {
    background: none;
}
footer {
    border: none;
    padding: 0;
    text-align: center;
    background-color: white;
}