* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #402910;
    padding: 20px;
}

.logo{
    width: 30%;
    max-width: 200px;
    height: auto;
    padding-bottom: 20px;
}

form{
    width: 90%;
    max-width: 400px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: #654321;
    color: #ffffff;
}
.casillas{
    border: 1px solid #ccc;
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    margin: 10px 0;
}

button {
    border: none;
    background-color: #C0A090;
    border-radius: 20px;
    width: 100%;
    padding: 12px;
    margin: 20px 0;
    text-align: center;
    color: black;
    font-weight: 500;
}
.btn-inicio {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}
.registro {
    color: gold;
    text-decoration: none;
}
.principal{
    text-decoration: none;
    color: red;
}
/* --- Ajustes para tablets --- */
@media (min-width: 600px) {
  .logo {
    width: 25%;
    max-width: 220px;
  }

  form {
    max-width: 450px;
    padding: 30px;
  }
}

/* --- Ajustes para desktop --- */
@media (min-width: 1024px) {
  .logo {
    width: 180px;
    height: auto;
  }

  form {
    max-width: 400px;
  }
}
